[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# FastAPI & Server
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
gunicorn = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
alembic = "*"
redis = "*"
python-dotenv = "*"
sqlmodel = "*"
pyjwt = "*"
passlib = {extras = ["bcrypt"], version = "*"}
bcrypt = "~=3.2.0"
email-validator = "*"
pandas = "*"
openpyxl = "*"
xlrd = "*"
pydantic-settings = "*"
pytest = "*"
httpx = "*"
python-multipart = "*"

[dev-packages]
pytest-cov = "*"
pytest-asyncio = "*"
black = "*"
flake8 = "*"
mypy = "*"
ipython = "*"
debugpy = "*"

[requires]
python_version = "3.12"
